<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhou.onexposed">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- xposed模块开关，默认true就行 -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <!-- 提示文字 -->
        <meta-data
            android:name="xposeddescription"
            android:value="用于One钱包的抢红包XP模块" />
        <!-- 最低版本支持 -->
        <meta-data
            android:name="xposedminversion"
            android:value="54" />
    </application>
</manifest>